{% extends "page.html" %} {% import "macros/form.html" as form %} {% block
subtitle %}{{ _('Reset Your Password') }}{% endblock %} {% block
breadcrumb_content %}
<li class="active">{{ _('Password Reset') }}</li>
{% endblock %} {% block primary_content %}
<article class="module">
  {% block primary_content_inner %}
  <div class="module-content">
    <h1 class="page-heading">
      {% block page_heading %}{{ _('Reset Your Password') }}{% endblock %}
    </h1>
    {% block form %}
    <form action="" method="post">
      <div class="screen-1">
        {{ form.errors(error_summary) }} {% if user_dict['state'] == 'pending'
        %}
        <p>
          {{ _('You can also change username. It can not be modified later.') }}
        </p>

        <div class="email">
          <label for="name">Username</label>
          <div class="sec-2">
            <input name="name" id="field-username" , type="text" , error="" />
          </div>
        </div>
        {% endif %}
        <div class="password">
          <label for="password1">Password</label>
          <div class="sec-2">
            <input
              name="password1"
              id="field-password"
              ,
              type="password"
              ,
              value=""
              ,
              error=""
            />
          </div>
        </div>
        <div class="password">
          <label for="email">Confirm</label>
          <div class="sec-2">
            <input
              name="password2"
              id="field-confirm-password"
              ,
              type="password"
              ,
              value=""
              ,
              error=""
            />
          </div>
        </div>
        <div class="form-actions">
          {% block form_button %}
          <button class="btn btn-primary" type="submit" name="save">
            {{ _("Update Password") }}
          </button>
          {% endblock %}
        </div>
      </div>
    </form>
    {% endblock %}
  </div>
  {% endblock %}
</article>
{% endblock %} {% block secondary_content %} {% endblock %}
