{% extends "page.html" %} {% block subtitle %}{{ _('Reset your password') }}{%
endblock %} {% block breadcrumb_content %}
<li class="active">
  {% link_for _('Password Reset'), named_route='user.request_reset' %}
</li>
{% endblock %} {% block primary_content %}
<article class="module">
  <div class="module-content">
    {% block primary_content_inner %}
    <h1 class="page-heading">{{ _('Reset your password') }}</h1>
    {% block form %}
    <form action="" method="post">
      <div class="screen-1">
        <div class="password">
          <label for="field-username">{{ _('Email or username') }}</label>
          <div class="sec-2">
            <input id="field-username" name="user" value="" type="text" />
          </div>
        </div>

        <div class="form-actions">
          {% block form_button %}
          <button class="btn btn-primary" type="submit" name="reset">
            {{ _("Request Reset") }}
          </button>
          {% endblock %}
        </div>
      </div>
    </form>
    {% endblock %} {% endblock %}
  </div>
</article>
{% endblock %} {% block secondary_content %} {% endblock %}
