{% set current_lang = request.environ.CKAN_LANG %}
<div class="footer-basic">
  <footer>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />
    <div class="social">
      <a href="#"><i class="icon ion-social-instagram"></i></a
      ><a href="#"><i class="icon ion-social-snapchat"></i></a
      ><a href="#"><i class="icon ion-social-twitter"></i></a
      ><a href="#"><i class="icon ion-social-facebook"></i></a>
    </div>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Who we are ?</a></li>
      <li class="list-inline-item">
        <a href="https://www.mda.gov.sa/">Madinah Development Authority</a>
      </li>
      <li class="list-inline-item"><a href="#">Team</a></li>
      <li class="list-inline-item">
        <a href="https://raseel@mda.gov.sa/">Contact Us</a>
      </li>
    </ul>
    <p class="copyright">Raseel | Madinah Smart City Platform</p>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</div>
