{# Renders the login form. action - The url that the form should be submitted
  to. error_summary - A tuple/list of form errors. Example: {% snippet
  "user/snippets/login_form.html", action=g.login_handler,
  error_summary=error_summary %} #} {% import 'macros/form.html' as form %} {% set
  username_error = true if error_summary %} {% set password_error = true if
  error_summary %}
  
  <form action="{{ action }}" method="post">
    {{ form.errors(errors=error_summary) }}
    <div class="screen-1">
      <img src="/Raseel.png"
      class="login-logo"
      width="150"
      height="100"
    >
    </img>
      <div class="email">
        <label for="login">Login</label>
        <div class="sec-2">
          <input
            name="login"
            id="field-login"
            error="username_error"
            placeholder="Login"
          />
        </div>
      </div>
      <div class="password">
        <label for="password">Password</label>
        <div class="sec-2">
          <input
            id="field-password"
            type="password"
            error="password_error"
            class="pas"
            name="password"
            placeholder="············"
          />
          <ion-icon class="show-hide" name="eye-outline"></ion-icon>
        </div>
      </div>
  
      {{ form.checkbox('remember', label=_("Remember me"), id='field-remember',
      checked=true, value="63072000") }}
      <button class="btn btn-primary" type="submit">{{ _('Login') }}</button>
  
      <div>
        {% block help_register_button %}
        <a
          style="float: left"
          class="btn btn-default"
          href="{{ h.url_for('user.register') }}"
          >{{ _('Sign up') }}</a
        >
        {% endblock %} {% block help_forgotten_button %}
        <a
          style="float: right"
          class="btn btn-default"
          href="{{ h.url_for('user.request_reset') }}"
          >{{ _('Forgot your password?') }}</a
        >
        {% endblock %}
      </div>
    </div>
  </form>
  